body {
    margin: 0;
    padding: 16px; 
    box-sizing: border-box;
}

.galeria {
    display: grid;
    gap: 8px;        
}

.galeria img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    object-fit: cover;
    border-radius: 12px;  
}

@media (max-width: 599px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 600px) and (max-width: 839px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 840px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }

}
